
  <div class="statbox1">
				<div class="stattitle">Hottest Global Rankings </div>
        <% for user in @global_males %>
        <%= user_tile(user) %>
        <% end %>
        <div class="friend-box"><h3> See More Hot Global Males </h3></div>
        <% for user in @global_females %>
				<%= user_tile(user) %>
        <% end %>
        <div class="friend-box"><h3> See More Hot Global Females </h3></div>
        <div style="clear:both;"></div>
	</div>

  <div class="statbox1">
				<div class="stattitle">Hottest Friends </div>
        <% for user in @friend_males %>
				<%= user_tile(user) %>
        <% end %>
        <div class="friend-box"><h3> See More Hottest Male Friends </h3></div>
        <% for user in @friend_females %>
				<%= user_tile(user) %>
        <% end %>
        <div class="friend-box"><h3> See More HotFemale Friends </h3></div>
        <div style="clear:both;"></div>
	</div>
  
  <div class="statbox1">
				<div class="stattitle">Hottest Group Rankings </div>
	</div>