* {
margin: 0 auto;
}

body {
background: #fff;
font-family: "Museo 300","Helvetica Neue (TT)","Helvetica Neue", Helvetica, Arial, san-serif; 
font-size:15px;
}

@font-face {
font-family: "Museo 300";
src: url("fonts/Museo300-Regular.eot");
src: local("Museo 300"), local("Museo 300"),
url("fonts/Museo300-Regular.otf") format("opentype"),
url("fonts/Museo300-Regular.woff") format("woff"),
url("fonts/Museo300-Regular.svg#Museo 300") format("svg");
}

@font-face {
font-family: "Museo 700";
src: url("fonts/Museo700-Regular.eot");
src: local("Museo 700"), local("Museo 700"),
url("fonts/Museo700-Regular.otf") format("opentype"),
url("fonts/Museo700-Regular.woff") format("woff"),
url("fonts/Museo700-Regular.svg#Museo 700") format("svg");
}

h2 {
font-family: 'Museo 700';
font-size: 25px;
margin: 4px;
text-shadow: 0px 1px 0px white;
}

#wrapper {
width: 960px;
height: 100%;
margin: 0px auto;
}

.left{
float:left;
}

.right{
float:right;
}

.clear {
clear:both;
}

/* ------- HEADER ------- */

#homehead  h1{
font-size: 125px;
color: #000;
font-family: 'Lobster', helvetica, arial, san-serif;
text-align: center;
margin: -20px 0;
text-shadow: 2px 2px 5px #999;
}

.smaller {
width: 250px;
}

.tagline {
font-size: 30px;
font-family: 'lobster', helvetica, arial, san-serif;
text-align: center;
}

#header {
background: #3B5998;
/* border-bottom: 1px solid white; */
color: #fff;
height: 50px;
}

#header h1 {
font-size: 40px;
font-family: 'Lobster', Helvetica, Arial, san-serif; 
text-shadow: 0px 1px 0px white;
float: left;
}

#social-butts {
margin: 15px;
float:left;
}

#right-nav {
float: right;
width: 400px;
}

ul {
list-style: none;
}

#header ul li {
float: right;
padding: 20px 15px 0 0;
}

a:link {
text-decoration: none;
}

.userimg {
float: right;
margin: 10px 10px 0 0;
border: 2px solid #BAD3EA;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
height: 30px;
width: 30px;
}

/* ------- END OF HEADER ------- */

/* ------- MAIN AREA ------- */

#content {
background: #fff;
}

#left-column {
float: left;
width: 150px;
}

.ad-col{
width: 120px;
margin: 10px auto;
}

#main {
width: 640px;
float: left;
margin: 10px;

}

#battleground {
background: #f0f0f0 url(gray.png) repeat;
width: 600px;
height: 300px;
margin: 10px auto 50px auto; 
padding: 10px;
-webkit-box-shadow: 0 1px 2px #999;
-moz-box-shadow: 0 1px 2px #999;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align: center;
background: #eee repeat;
}

#battleground-history{
background: #f0f0f0 url(gray.png) repeat;
width: 590px;
margin: 10px auto 20px auto; 
padding: 10px;
-webkit-box-shadow: 0 1px 2px #999;
-moz-box-shadow: 0 1px 2px #999;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align: center;
background: #eee repeat;
}

#right-column {
float: right;
width: 150px;
}

.fixedheight {
max-width: 200px;
height: 200px;
vertical-align: middle;
}


#top-ad {
width: 728px;
height: 90px;
margin: 20px auto;
}

.notice {
width: 500px;
margin: 5px auto;
border: 1px solid #999;
background: #ccc;
padding: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}


/* ------- END OF MAIN RANKING AREA ------- */

/* ------- FOOTER STUFF -------- */

#footer {
background: white;
margin: 25px auto 0 auto;
border-top: 2px solid #c6c6c6;
text-align: center;
min-height: 100px;
}

#footer ul {
margin: 20px;
text-align: center;
}

#footer ul  li{
margin-right: 10px;
display: inline;
}

/* ------- HOME PAGE STUFF ------- */
.notification {
width: 900px;
margin: 15px auto 25px 0;
padding: 10px;
-webkit-box-shadow: 0 1px 2px #999;
-moz-box-shadow: 0 1px 2px #999;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align: center;
background: #eee repeat;
}

.button {
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
padding: 10px 25px;
background: #246;
color: #fff;
font-size: 20px;
text-shadow: 0px 1px 0px #5C9FC0;
-webkit-box-shadow: 0 0 5px #5C9FC0, 0 0 6px #5C9FC0;
}

.button:hover, .smallbutton:hover { text-decoration: none; -webkit-box-shadow: 0 0 3px #5C9FC0, 0 0 6px #5C9FC0; }

.smallbutton {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding: 5px 15px;
background: #ccc;
color: #000;
font-size: 20px;
-webkit-box-shadow: 0px 1px 0px white;
}

#buttonhold {
margin-top: 25px;
margin-bottom: 30px;
}

#steps {
width: 280px;
float:left;
padding: 10px;
}

.step {
margin-top: 10px;
font-family: 'museo 700';
}

/* ------- END OF HOME PAGE STUFF -------- */

.clearit {
clear:both;
}

.name {
font-family: "museo 700";
margin: 10px auto;
}

.username {
font-size: 40px;
font-family: 'museo 700';
margin: 5px;
color: #666;
}

.profimg {
margin: 10px;
}

/* STATS */

.statbox4 {
float: left;
width: 200px;
margin: 10px 5px 10px 10px;
}

.statbox2 {
float: left;
width: 400px;
padding: 10px;
}

.statbox1 {
padding: 10px 10px;
margin: 10px 0;
}

.statlists {
width: 420px;
list-style: none;
margin: 20px 5px;
padding: 0;
}

.statlists li {
clear: both;
margin: 5px 0;
padding: 5px 0;
position: relative;
}

.emph {
background: #3B5998;
color: #fff;
padding: 5px;
-webkit-border-radius: 4px; 
-moz-border-radius: 4px; 
border-radius: 4px;
font-size: 20px;
}

#header a:link, #header a:visited {
color: #fff;
text-decoration: none;
}

.button a:link, .button a:visited {
color: #fff;
text-decoration: none;
}


.statlists a:link, .statlists a:visited {
color: #fff;
text-decoration: none;
}

.statlists strong {
background: #3B5998;
color: #fff;
padding: 5px;
-webkit-border-radius: 4px; 
-moz-border-radius: 4px; 
border-radius: 4px;
font-size: 20px;
left: 0;
}


.stattitle {
font-size: 18px;
border-bottom: 1px solid #888;
margin-bottom: 10px;
}

.ranktitle {
font-size: 24px;
border-bottom: 1px solid #888;
margin-bottom: 10px;
padding-bottom: 10px;
}

.statboxbig .stattitle {
font-size: 18px;
color: #777;
border-bottom: 1px solid #888;
margin-bottom: 10px;
}

.statcontent {
color: #777;
}

.bignumber{
font-size: 90px;
}

.friend-box {
float:left;
border: 1px solid #BAD3EA;
-webkit-border-radius:5px;
-moz-border-radius:5px; 
border-radius:5px;
width: 120px;
margin-right: 10px;
margin-bottom: 10px;
padding: 10px;
}

.friend-box:hover {
cursor: pointer;
background: #3B5998;
color: #fff;
}

.score {
font-size: 25px;
text-align: center;
}


/* END STATS */



#profileops {
width: 250px;
margin: 10px auto;
float: right;
}

#profileops ul {
margin: 0 auto;
}

#profileops ul li {
float: left;
position: relative;
font-size: 15px;
background: #3B5998;
color: white;
padding: 4px;
margin-right: 10px;
-webkit-border-radius: 4px; 
-moz-border-radius: 4px; 
border-radius: 4px;
list-style: none;
}



.lastround {
font-size: 12px;
margin: 0 10px;
text-align: center;
}

.boldit {
font-family: 'museo 700';
}

.user {
border: 1px solid #c2c2c2;
-webkit-border-radius:10px;
-moz-border-radius:10px; 
border-radius:10px;
margin: 20px;
padding: 5px;
}

.battlesquare {
background: white;
height: 250px;
-webkit-border-radius:10px;
-moz-border-radius:10px; 
border-radius:10px;
}

.battlesquare-old {
background: white;
padding: 10px;
height: 100px;
width: 200px;
-webkit-border-radius:10px;
-moz-border-radius:10px; 
border-radius:10px;
}

#left {

float: left;
width: 250px;
margin: 10px;
}

#left-old {
float: left;
width: 180px;
margin: 10px;
}

#mid-old{
float: left;
width: 150px;
margin: 50px auto;
text-align: center;
font-size: 25px;
font-family: "museo 700"
}

#right-old {

float: right;
width: 180px;
margin: 10px;
}

#mid {
float: left;
width: 60px;
margin: 75px auto;
text-align: center;
font-size: 25px;
font-family: "museo 700"
}

#right {
float: right;
width: 250px;
margin: 10px;
}

.battle {
display: block;
margin: 0 auto;
}

/* RANKING */
.rankbox1 {
float: left;
width: 750px;
padding: 10px 10px;
margin: 10px 0;
}

.rankads {
float: right;
width: 150px;
margin-top: 50px;
}


.friend-box {
float:left;
border: 1px solid #BAD3EA;
-webkit-border-radius:5px;
-moz-border-radius:5px; 
border-radius:5px;
width: 120px;
height: 120px;
margin: 5px;
padding: 5px;
}

.friend-box:hover {
cursor: pointer;
background: #3B5998;
color: #fff;
}

.score {
position: relative;
font-size: 25px;
padding-bottom: 5px;
text-align: center;
}

/* Drop Shadows */
 .drop-shadow {

            position:relative;
            width:40%;    

            padding:1em; 

            margin:2em 10px 4em; 

            background:#fff;

            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.7) inset;

               -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.7) inset;
                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.7) inset;

        }



        .drop-shadow:before,

        .drop-shadow:after {

            content:"";

            position:absolute; 

            z-index:-2;

        }

        

        .drop-shadow p {

            font-size:16px;

            font-weight:bold;

        }

    