* {
margin: 0 auto;
padding: 0;
}

body {
background: #fff;
font-family: "Museo 300","Helvetica Neue (TT)","Helvetica Neue", Helvetica, Arial, san-serif; 
font-size:15px;
}

a#feedback-tab {
background:url("/images/feedback_tab_white.png") no-repeat scroll 50% 50% #5C9FC0;
display:block;
height: 90px;
width: 22px;
line-height: 0;
position: fixed;
left: 0;
text-indent: -999999px;
top: 40%;
padding: 5px;
z-index: 1000001;
}

#go_button {
text-align: center;
font-size: 50px !important;
}

a#feedback-tab:hover{
background:url("/images/feedback_tab_white.png") no-repeat scroll 50% 50% #3B5998;
}

a:link, a:visited {
color: #000;
text-decoration: none;
}

@font-face {
font-family: "Museo 300";
src: url("fonts/Museo300-Regular.otf") format("opentype");
}

@font-face {
font-family: "Museo 700";
src: url("fonts/Museo700-Regular.otf") format("opentype");
}

h1 {
padding: 10px 10px;
}

p {
padding: 10px 15px;
}

h2 {
font-family: 'Museo 700';
font-size: 25px;
margin: 4px;
text-shadow: 0px 1px 0px white;
}

ul {
padding-left: 40px;
}

ul li {
}

#wrapper {
width: 960px;
height: 100%;
margin: 0px auto;
}

.left{
float:left;
}

.right{
float:right;
}

.center-text {
text-align: center;
}

.clearit {
clear:all;
}

.content-box {
background: #f5f5f5;
-webkit-box-shadow: 0 1px 2px #999;
-moz-box-shadow: 0 1px 2px #999;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

/* ------- HOME PAGE STUFF ------- */
#homehead  h1{
font-size: 125px;
color: #000;
font-family: 'Lobster', helvetica, arial, san-serif;
text-align: center;
margin: -20px 0;
text-shadow: 2px 2px 5px #999;
}

.notification {
width: 900px;
margin: 15px auto 25px 0;
padding: 10px;
-webkit-box-shadow: 0 1px 2px #999;
-moz-box-shadow: 0 1px 2px #999;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align: center;
background: #eee repeat;
}

/* Used for podium image on logged out homepage */
.smaller {
width: 250px;
}

.tagline {
font-size: 30px;
font-family: 'lobster', helvetica, arial, san-serif;
text-align: center;
margin: 0;
padding: 0;
}

.button {
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
padding: 10px 25px;
background: #246;
color: #fff;
font-size: 20px;
text-shadow: 0px 1px 0px #5C9FC0;
-webkit-box-shadow: 0 0 5px #5C9FC0, 0 0 6px #5C9FC0;
}

.smallbutton {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding: 10px 10px;
margin: 15px;
background: #3B5998;
color: white !important;
font-size: 20px;
-webkit-box-shadow: 0px 1px 0px white;
}

#buttonhold {
margin-top: 25px;
margin-bottom: 30px;
}

#steps {
width: 280px;
float:left;
padding: 10px;
}

.step {
margin-top: 10px;
font-family: 'museo 700';
}

/* ------- END OF HOME PAGE STUFF -------- */

/* ------- HEADER ------- */

#header {
background: #3B5998;
border-bottom: 1px solid #ccc;
color: #fff;
height: 50px;
}

#header h1 {
margin: -3px 0 0 0;
font-size: 40px;
font-family: 'Lobster', Helvetica, Arial, san-serif; 
text-shadow: 0px 1px 0px white;
float: left;
padding: 0px;
}

#social-butts {
margin: 15px 0 0 20px;;
float:left;
}

#right-nav {
float: right;
}

#right-nav ul {
list-style: none;
float: left;
padding-left: 5px;
}

#header ul li {
float: left;
margin: 13px 6px;
padding: 4px 4px;
text-align: center;
}

#header ul li:hover {
background: #002869;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.userimg {
margin: 10px 5px 0 0;
border: 2px solid #BAD3EA;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
height: 30px;
width: 30px;
}

.userimg:hover {
border: 2px solid #000;
}

/* ------- END OF HEADER ------- */

/* ------- MAIN AREA ------- */

.submittable {

}

#content {
background: #fff;
}

#left-column {
float: left;
width: 150px;
}

.ad-col{
width: 120px;
margin: 10px auto;
/*border: 1px solid #999;*/
}

#main {
width: 640px;
margin: 10px auto;
}

#battleground {
background: #eee;
width: 600px;
height: 330px;
margin: 10px auto 25px auto; 
padding: 10px;
-webkit-box-shadow: 0 1px 2px #999;
-moz-box-shadow: 0 1px 2px #999;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align: center;
}

#battleground-history{
width: 590px;
height: 170px;
background: #eee;
margin: 10px auto 20px auto; 
padding: 10px;
-webkit-box-shadow: 0 1px 2px #999;
-moz-box-shadow: 0 1px 2px #999;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align: center;
}

#right-column {
float: right;
width: 150px;
}

.hoverable:hover {
cursor: pointer;
background: #3B5998;
color: #fff;
}

.fixedheight {
margin-top: 5px;
max-width: 200px;
max-height: 200px;
vertical-align: middle;
}


.banner-ad {
width: 760px;
height: 108px;
margin: 15px auto;
border: 1px solid #999;
}

.notice {
width: 500px;
margin: 5px auto;
border: 1px solid #999;
background: #eee;
padding: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}


/* ------- END OF MAIN RANKING AREA ------- */

/* ------- RANKING PAGES -------- */

.hotlist {
width: 440px;
padding: 10px;
}

.hotlist table {
margin-top: 20px;
border-collapse: collapse;
border-spacing: 0;
text-align: center;
vertical-align: center;
}

.rankings tr {
border-bottom: 1px solid #ccc;
}

.rankings td {
height: 60px;
margin: 10px;
padding: 5px;
}

.namecell {
width: 175px;
}

.numcell {
width: 50px;
}


/* ------- FOOTER STUFF -------- */

#footer {
background: white;
margin: 50px auto 0 auto;
border-top: 2px solid #c6c6c6;
text-align: center;
min-height: 50px;
}

#footer ul {
margin: 20px;
text-align: center;
}

#footer ul  li{
margin-right: 10px;
display: inline;
}



.clearit {
clear:both;
}

.name {
font-family: "museo 700";
margin: 10px auto;
}

.username {
font-size: 40px;
font-family: 'museo 700';
margin: 5px;
color: #666;
}

.profimg {
margin: 10px;
}

/* ------ END FOOTER STUFF ------ */

/* STATS */

.statbox4 {
float: left;
width: 215px;
margin: 10px 5px;
}

.statbox2 {
float: left;
width: 440px;
margin: 10px 5px;
}

.statbox1 {
margin: 10px 5px;
}

.statlists {
width: 420px;
list-style: none;
margin: 20px 5px;
padding: 0;
}

.statlists li {
clear: both;
margin: 5px 0;
padding: 5px 0;
position: relative;
}

.emph {
background: #3B5998;
color: #fff;
padding: 5px;
-webkit-border-radius: 4px; 
-moz-border-radius: 4px; 
border-radius: 4px;
font-size: 20px;
}


#header a:link, #header a:visited {
color: #fff;
text-decoration: none;
}

.button a:link, .button a:visited {
color: #fff;
text-decoration: none;
}

.statlists a:link, .statlists a:visited {
color: #fff;
text-decoration: none;
}

.statlists strong {
background: #3B5998;
color: #fff;
padding: 5px;
-webkit-border-radius: 4px; 
-moz-border-radius: 4px; 
border-radius: 4px;
font-size: 20px;
left: 0;
}


.stattitle {
font-size: 18px;
border-bottom: 1px solid #888;
margin-bottom: 10px;
}

.ranktitle {
font-size: 24px;
border-bottom: 1px solid #888;
margin-bottom: 10px;
padding-bottom: 10px;
}

.statboxbig .stattitle {
font-size: 18px;
color: #777;
border-bottom: 1px solid #888;
margin-bottom: 10px;
}

.statcontent {
color: #777;
}

.bignumber{
font-size: 75px;
}


.score {
font-size: 25px;
text-align: center;
margin: 0 0 -5px 0;
}

.delta {
font-size: 10px;
margin: 0 0 -5px 0;
}

.winloss {
font-size: 15px;
margin: 0 auto;
padding: 0;
}

.loser {
background: #FFCCD9;
}

.green {
color: green;
}

.red {
color: red;
}

/* END STATS */



#profileops {
width: 250px;
margin: 10px auto;
float: right;
}

#profileops ul {
margin: 0 auto;
}

#profileops ul li {
float: left;
position: relative;
font-size: 15px;
background: #3B5998;
color: white;
padding: 4px;
margin-right: 10px;
-webkit-border-radius: 4px; 
-moz-border-radius: 4px; 
border-radius: 4px;
list-style: none;
}

#filters {
width: 500px;
text-align: center;
margin: 10px auto;
}

.lastround {
font-size: 12px;
margin: 0 10px;
padding: 0;
text-align: center;
}

.boldit {
font-family: 'museo 700';
}

.user {
border: 1px solid #c2c2c2;
-webkit-border-radius:10px;
-moz-border-radius:10px; 
border-radius:10px;
margin: 20px;
padding: 5px;
}

.battlepic {
height: 210px;
}

.battlesquare {
background: white;
border: 1px solid #ccc;
height: 250px;
-webkit-border-radius:5px;
-moz-border-radius:5px; 
border-radius:5px;
}

#left {

float: left;
width: 250px;
margin: 9px;
}

#left-old {
float: left;
width: 150px;
margin: 10px;
}

#mid-old{
float: left;
width: 250px;
margin: 70px auto 0 auto;
text-align: center;
font-size: 25px;
font-family: "museo 700"
}

#right-old {
float: right;
width: 150px;
margin: 10px;
}

#mid {
float: left;
width: 60px;
margin: 75px auto;
text-align: center;
font-size: 25px;
font-family: "museo 700";
}

.vs {
margin: 5px auto;
}

#skip {
width: 40px;
margin: 90px auto 0 auto;
font-size: 15px;
font-family: "museo 300";
padding: 5px 7px;
color: #888;
cursor: pointer;
border: 1px solid #999;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}

#skip:hover{
color: #000;
border: 1px solid #888;
}

#right {
float: right;
width: 250px;
margin: 9px;
}

.battle {
display: block;
margin: 0 auto;
}

/* RANKING */
.rankbox1 {
float: left;
width: 750px;
padding: 10px 10px;
margin: 10px 0;
}

.rankads {
float: right;
width: 150px;
margin-top: 50px;
}


.friend-box {
float:left;
border: 1px solid #BAD3EA;
background: white;
-webkit-border-radius:5px;
-moz-border-radius:5px; 
border-radius:5px;
width: 120px;
height: 120px;
margin: 5px;
padding: 5px;
}

.winner {
float:left;
border: 4px solid green;
background: white;
-webkit-border-radius:5px;
-moz-border-radius:5px; 
border-radius:5px;
width: 120px;
height: 120px;
margin: 5px;
padding: 5px;
}

.loser{
float:left;
border: 4px solid red;
background: white;
-webkit-border-radius:5px;
-moz-border-radius:5px; 
border-radius:5px;
width: 120px;
height: 120px;
margin: 5px;
padding: 5px;
}

.friend-box:hover, .winner:hover, .loser:hover {
cursor: pointer;
background: #3B5998;
color: #fff;
}

.score {
font-size: 25px;
margin-bottom: 5px;
padding: 0;
}

/* Drop Shadows */
 .drop-shadow {

            position:relative;
            width:40%;    

            padding:1em; 

            margin:2em 10px 4em; 

            background:#fff;

            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.7) inset;

               -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.7) inset;
                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.7) inset;

        }



        .drop-shadow:before,

        .drop-shadow:after {

            content:"";

            position:absolute; 

            z-index:-2;

        }

        

        .drop-shadow p {

            font-size:16px;

            font-weight:bold;

        }

    
