<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
    appId  : <%= if Rails.env == 'production' then '107180036028128' else '171400646241780' end %>,
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });

document.observe("dom:loaded", function() {

  $('invite_button').observe("click", function(event) {
    FB.ui({
      method: 'apprequests', 
      message: 'Hey, check out getFrankd!', 
      title: 'Send out Requests for getFrankd',
      to: '<%= @user.uid %>'
    });
  });
});

</script>

