<div class="notice">Use your arrow keys or click on the image to vote on who's hotter! </div>
<div id="left" class="battlesquare hoverable">
  <%= bigtile(@left_user, "left") %>
</div>
<div id="mid">
<p class="vs">VS</p>
<div id="skip">Skip</div>
</div>
<div id="right" class="battlesquare hoverable">
  <%= bigtile(@right_user, "right") %>
</div>
<div style="clear:both;"></div>

