<div class="content-box">
<h1>Everything about getFrankd</h1>
 
<p>getFrankd allows you to rank your friends by order of attractiveness and allows them to rank you.  Simply choose between two pictures at a time and over time you’ll be able to see a rank of who is hottest.</p>
 
<p>Frank (pronounced like the popular Anglo-Saxon first name) – short for “friend rank”</p>
 
<h1>Follow us!</h1>
<p>
<a href="http://www.twitter.com/getfrankd" target="_blank"><img src="/images/twitter.png" alt="GetFrankd Twitter - @getfrankd" title="GetFrankd Twitter - @getfrankd"></a>
<a href="http://www.facebook.com/pages/GetFrankd/167851896596886" target="_blank"><img src="/images/fb.png" alt="GetFrankd Facebook" title="GetFrankd Facebook"></a>
<a href="http://www.posterous.com/getfrankd" target="_blank"><img src="/images/posterous.png" alt="GetFrankd Posterous" title="GetFrankd Posterous"></a>
</p>
  
<h1>Team</h1>
 
<p>getFrankd was created by a triplet of UC Berkeley students who think upside down.</p>

<h1>Contact</h1>
 
<p>Have questions, comments, complaints, ideas? We'd love to hear from you! Email us at contact@getfrankd.com</p>
</div>
