<h1>Everything about getFrankd</h1>
 
<p>getFrankd allows you to rank your friends by order of attractiveness and allows them to rank you.  Simply choose between two pictures at a time and over time you’ll be able to see a rank of who is hottest.</p>
 
<p>Frank (pronounced like the popular Anglo-Saxon first name) – short for “friend rank”</p>
 
<h1>Follow us!</h1>
<p>[twitter logo] [facebook logo] [posterous logo]</p>
  
<h1>Team</h1>
 
<p>getFrankd was created by a triplet of UC Berkeley students who think upside down.</p>

<h1>Contact</h1>
 
<p>Have questions, comments, complaints, ideas? We'd love to hear from you! Email us at contact@getfrankd.com</p>
