<%= if current_user then javascript_include_tag "battle" end %>

  <% if current_user %>
  <div id="top-ad">
				<%= image_tag("http://dummyimage.com/728x90") %>
				<!-- <img src="http://dummyimage.com/728x90" /> -->
			</div>
	
			<div id="left-column">
				<div class="ad-col">
					<img src="http://dummyimage.com/120x240" class="side-ad" />
					<img src="http://dummyimage.com/120x240" class="side-ad" />
				</div>
			</div>
			<div id="main">
				<div id="filters">
			<!-- THIS PART NEEDS TO BE FILLED IN FOR FILTERING -->
				</div>
				<div id="battleground" class="drop-shadow lifted">
          <%= render "bground" %>
        </div>
				<div id="battleground-history" class="drop-shadow lifted old">
					<%= render "bground_history" %>
				</div>
			</div>
			<div id="right-column">
				<div class="ad-col">
					<img src="http://dummyimage.com/120x240" class="side-ad"/>
					<img src="http://dummyimage.com/120x240" class="side-ad"/>
				</div>
			</div>
			<div style="clear:both;"></div>
			<div id="top-ad">
				<img src="http://dummyimage.com/728x90" />
			</div>
  <% end %>
