<%= javascript_include_tag "invite" %>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
    appId  : '107180036028128',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });
  FB.ui({
    method: 'apprequests', 
    message: "Check out getFrankd.com! GetFrankd is a fun way to rate your friends' photos!", 
    title: 'Send out Requests for getFrankd'
  });
</script>

<div id="go_button"> <p>Please wait for the application to load</p> <%= image_tag("/images/spinner.gif") %></div>

