<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<fb:serverfbml width="615">
  <script type="text/fbml">
    <fb:request-form action="http://getFrankd.com/invite"
                     method="POST"
                     invite="true"
                     type="getFrankd"
                     content="Join me on getFrankd! It's a really fun way of rating your friends' photos. <fb:req-choice url='http://getfrankd.com' label='Join getFrankd!' />">
      <fb:multi-friend-selector showborder="false"
                                bypass="cancel"
                                cols=4
                                actiontext="Invite others to getFrankd"/>
    </fb:request-form>
  </script>
</fb:serverfbml>

<script type="text/javascript">

FB.init('API_KEY', receiver);

FB_RequireFeatures(["CanvasUtil","Connect","XFBML"], function()
{
    FB.XdComm.Server.init("xd_receiver.htm");
});

FB.ensureInit(function()
{
    FB.XFBML.Host.get_areElementsReady().waitUntilReady(function()
    {
    });
});

</script>

<%= javascript_include_tag "invite" %>
<div id="go_button"> <p>Please wait for the application to load</p> <%= image_tag("/images/spinner.gif") %></div>

