<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/fbml"> 
    <fb:fbml>
        <fb:is-logged-out>
        <fb:else>
          <fb:request-form content="Join me on getFrankd! It's a really cool way to rate your friends' pictures. &lt;fb:req-choice url='http://getfrankd.com' label='Join getFrankd!' /&gt;" type="getFrankd" invite="true" method="POST" action="http://getfrankd.com/invite/">
              <fb:multi-friend-selector showborder="false" cols="5" rows="3" exclude_ids="1237471,1072890013,1091370005,1238277,1221754,1237829,1034550077,557420494,1239364" actiontext="Invite your friends to getFrankd."></fb:multi-friend-selector>
          </fb:request-form>
        </fb:else>
        </fb:is-logged-out>
    </fb:fbml>
 </script>

<%= javascript_include_tag "invite" %>
<div id="go_button"> <p>Please wait for the application to load</p> <%= image_tag("/images/spinner.gif") %></div>

